%h2
  User 
  = @user.id
= render 'user_details'

%h3
  Ratings 
= render 'ratings'

%h3
  Movie Recommendations
= render 'movie_recommendations'

%h3
  User Recommendations
= render 'user_recommendations'
